<!-- 一个跳转页面，主要是为了将 token 回传给 electron app
token 是在后端获取的，没法直接传给 electron app，通过这个中间人 url，在 will-navigate 钩子中获取 -->
<!DOCTYPE html>
<html>
  <head>
    <title>GitHub OAuth demo</title>
  </head>
  <body>
  </body>
</html>